main {
  .explor {
    display: flex;

    .logo {
      img {
        width: 100%;
      }
    }

    .headings {
      p {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
      }
      h2 {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
      }
    }
  }
}
