.Murodil {
    max-width: 1440px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;

    .Murodil-left {
        .Murodil-img {
            top: 81px;
            left: 245px;
        }
    }

    .Murodil-right {
        align-items: center;
        gap: 7px;

        .Murodil__subtitle {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            color: #FA4A0C;
        }

        .Murodil__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            color: #252B42;
        }

        .Murodil__desc {
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            color: #737373;
        }
    }
}